<app-whatsapp-header></app-whatsapp-header>

<div class="search">
	<div class="search__input">
		<div class="search__input__icon">search</div>
		<div class="search__input__text">
			<input type="text" placeholder="Search or start new chat" />
		</div>
	</div>

	<div class="search__actions">
		<div class="search__actions__item">chat</div>
		<div class="search__actions__item">more_vert</div>
	</div>
</div>

<div class="list">
	<div class="item">
		<div class="item__avatar">
			<img src="assets/images/user-1.jpg" alt="user" />
		</div>

		<div class="item__content">
			<div class="name">John Doe</div>
			<div class="message">Hello</div>
		</div>
	</div>

	<div class="item">
		<div class="item__avatar">
			<img src="assets/images/user-1.jpg" alt="user" />
		</div>

		<div class="item__content">
			<div class="name">John Doe</div>
			<div class="message">Hello</div>
		</div>
	</div>
</div>

<!-- <div class="whatsapp-chat"> -->
<!-- 	<div class="whatsapp-chat__header"> -->
<!-- 		<div class="whatsapp-chat__header__avatar"> -->
<!-- 			<img src="assets/images/user.png" alt="user" /> -->
<!-- 		</div> -->
<!-- 		<div class="whatsapp-chat__header__content"> -->
<!-- 			<div class="whatsapp-chat__header__content__name"> -->
<!-- 				John Doe -->
<!-- 			</div> -->
<!-- 			<div class="whatsapp-chat__header__content__status"> -->
<!-- 				Online -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 		<div class="whatsapp-chat__header__menu"> -->
<!-- 			<mat-icon>more_vert</mat-icon> -->
<!-- 			icon -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- 	<div class="whatsapp-chat__body"> -->
<!-- 		<div class="whatsapp-chat__body__message"> -->
<!-- 			<div class="whatsapp-chat__body__message__content"> -->
<!-- 				Hello -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- 	<div class="whatsapp-chat__footer"> -->
<!-- 		<div class="whatsapp-chat__footer__input"> -->
<!-- 			<input type="text" placeholder="Type a message" /> -->
<!-- 		</div> -->
<!-- 		<div class="whatsapp-chat__footer__send"> -->
<!-- 			<mat-icon>send</mat-icon> -->
<!-- 			icon -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- </div> -->
