app-whatsapp-contact-list {
	border-inline: 1px solid #ccc;
	min-width: 300px;

	.p-accordion-header-link {
		border-radius: 0;
		border-inline: 0;
		padding-block: 10px;
		font-weight: normal;
		color: #636363;
	}
	// .p-accordion-header
	.p-accordion-content {
		padding: 0;
		border: 0;
	}
}

app-whatsapp-contact-list .title {
	margin-block-start: 30px;
	margin-block-end: 10px;
	display: flex;
	gap: 30px;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	padding-block-end: 10px;

	.search {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		input {
			flex: 1;
			border: 0;
			padding: 5px;
			font-size: 14px;
			width: 100%;
			color: #636363;
			background-color: #f5f5f5;
			padding: 8px;
			border-radius: 5px;
			&:focus {
				outline: none;
			}
		}
		.icon {
			justify-self: flex-end;
			color: #ccc;
			font-size: 20px;
			cursor: pointer;
		}
	}
}

app-whatsapp-contact-list {
	.contact {
		display: flex;
		align-items: stretch;
		gap: 15px;
		padding-inline: 20px;
		padding-block: 10px;
		cursor: pointer;
	}

	.contact.active {
		background-color: #ccc;
	}

	.info {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		.status {
			color: #ccc;
			font-size: 12px;
		}
	}
}
