<div class="message" [class.message--right]="message.status">
	<div class="message__content">
		<span class="tail-out" [innerHTML]="tailOutIcon | bypassHtmlSanitizer">
		</span>

		<div class="message__text">
			<p>{{ message.id }}—{{ message.text }}</p>
		</div>

		<div class="message__delivery">
			<div class="message__delivery--content">
				<div class="message__time">
					{{ message.time }}
				</div>
				<div>
					<div
						*ngIf="message.status"
						[innerHTML]="
							msgIcons(message.statusIcon) | bypassHtmlSanitizer
						"
						[style.color]="message.statusColor"></div>
				</div>
			</div>
		</div>
	</div>
</div>
