app-whatsapp {
	display: flex;
	height: 100%;
	width: 100%;
	min-width: 600px;
	max-width: 1600px;

	--app-background: #0c1317;
	--app-background-deeper: #0a1014;
	--background-default: #111b21;
	--popup-panel-background: #111b21;

	--primary: #d1d7db;
	--primary-title: #e9edefe0;
	--primary-muted: #667781;
	--primary-strong: #e9edef;
	--primary-stronger: #e9edefe0;
	--primary-strongest: #e9edef;

	--secondary: #8696a0;
	--secondary-light: #54656f;
	--secondary-lighter: #667781;
	--secondary-stronger: #d1d7db;

	--border-bubble: rgba(233, 237, 239, 0.12);
	--border-deeper: rgba(134, 150, 160, 0.15);
	--border-default: rgba(134, 150, 160, 0.15);
	--border-list: rgba(134, 150, 160, 0.15);
	--border-panel: rgba(134, 150, 160, 0.15);
	--border-strong: rgba(134, 150, 160, 0.15);
	--border-stronger: rgba(134, 150, 160, 0.15);
	--border-document-footer: rgba(134, 150, 160, 0.15);

	--background-default: #111b21;
	--background-document-with-captions: #111b21;
	--background-default-active: #2a3942;
	--background-default-hover: #202c33;
	--background-lighter: #233138;
	--background-lighter-content: #182229;
	--background-lighter-active: #182229;
	--background-lighter-hover: #182229;
	--background-lightest: #3b4a54;
	--background-lightest-content: #233138;
	--background-lightest-active: #233138;
	--background-lightest-hover: #233138;

	--panel-background: #111b21;
	--panel-background-active: #111a20;
	--panel-background-colored: #202c33;
	--panel-background-colored-deeper: #202c33;
	--panel-background-deep: #0f191f;
	--panel-background-deeper: #101a20;
	--panel-background-hover: #101a20;
	--panel-background-lighter: #101a20;
	--panel-header-background: #202c33;
	--panel-header-icon: #aebac1;
	--conversation-header-border: #8696a026;
	--panel-input-background: #222e35;
	--panel-primary: #e9edef59;

	--icon: #8696a0;
	--icon-ack: #53bdeb;
	--icon-disabled: #54656f;
	--icon-fixed: #8696a0;
	--icon-lighter: #8696a0;
	--icon-search-back: #00a884;
	--icon-strong: #aebac1;
	--icon-bright-accent: #00a884;
	--icon-bright-highlight: #bbc91c;
	--icon-pinned: #8696a0;

	--rich-text-panel-background: #202c33;
	--search-container-background: #111b21;
	--search-input-background: #202c33;
	--search-input-container-background: #111b21;
	--search-input-container-background-active: #111b21;

	--compose-input-background: #2a3942;
	--compose-input-background-focused: #335667;
	--compose-input-border: #2a3942;
	--compose-input-border-focused: #355b6e;

	--input-placeholder: #8696a0;
}

app-whatsapp-chat {
	flex: 1;
}

app-whatsapp-contact,
app-whatsapp-chat {
	flex: 1;
}

app-whatsapp-friends-list,
app-whatsapp-contact-list {
	min-width: 300px;
	width: clamp(330px, 40%, 480px);
}
