.whatsapp-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	background-color: var(--background-default);
	border-bottom: 1px solid var(--border-default);
	height: 60px;
	background-color: var(--panel-header-background);
}

.whatsapp-header__user {
	display: flex;
	align-items: center;
	width: 24px;
	height: 24px;
	background-color: var(--background-lighter);
	margin-right: 10px;

	img {
		border-radius: 50%;
	}
}

.whatsapp-header__menu {
	display: flex;
	align-items: center;

	color: var(--panel-header-icon);
	cursor: pointer;
	:hover {
		background-color: var(--background-dark);
	}
}
