<!-- whatsapp clone chat component -->

<div class="background"></div>

<div class="message">
	<div class="message__content">
		<span [innerHTML]="tailOut | bypassHtmlSanitizer"> </span>

		<div class="message__text">
			<p>Hey, how are you?</p>
		</div>
		<div class="message__time">
			<p>10:00 PM</p>
		</div>
	</div>
</div>

<div class="message message--right">
	<div class="message__content">
		<span [innerHTML]="tailOut | bypassHtmlSanitizer"> </span>

		<div class="message__text">
			<p>Hey, I'm fine, how are you?</p>
		</div>

		<div class="message__time">
			<p>10:00 PM</p>
		</div>
	</div>
</div>

<div class="message">
	<div class="message__content">
		<span [innerHTML]="tailOut | bypassHtmlSanitizer"> </span>

		<div class="message__text">
			<p>Hey, I'm fine, how are you?</p>
		</div>
		<div class="message__time">
			<p>10:00 AM</p>
		</div>
	</div>
</div>

<div class="message">
	<div class="message__content">
		<span [innerHTML]="tailOut | bypassHtmlSanitizer"> </span>

		<div class="message__text">
			<p>Hey,</p>
		</div>
		<div class="message__time">
			<p>10:00 AM</p>
		</div>
	</div>
</div>
