<!-- whatsapp clone chat component -->

<div class="background"></div>

<app-whatsapp-header></app-whatsapp-header>

<div #messagesRef class="messages no-scrollbar">
	<app-whatsapp-message
		*ngFor="
			let msg of chat?.messages;
			let idx = index;
			trackBy: msgTrackByFn
		"
		[message]="msg"
		[prevMessage]="previousMessage(idx)"
		[nextMessage]="nextMessage(idx)"
		[statusIcons]="statusIcons"
		[tailOutIcon]="icons.tailOut"
		tailOutIcon="tailOutIcon"></app-whatsapp-message>
</div>

<div class="send">
	<div class="send__input">
		<input type="text" placeholder="Send a message" />
	</div>

	<div class="send__icons">
		<div class="send__icon">
			<span [innerHTML]="icons.send | bypassHtmlSanitizer"></span>
		</div>
	</div>
</div>

<div class="actions">
	<div *ngFor="let icon of uploadIconsNames" class="actions__icon">
		<span [innerHTML]="icons[icon] | bypassHtmlSanitizer"></span>
	</div>
</div>
