<!-- whatsapp clone chat component -->

<div class="background"></div>

<app-whatsapp-header></app-whatsapp-header>

<div class="messages no-scrollbar">
	<div
		*ngFor="let msg of messages"
		class="message"
		[class.message--right]="msg.received">
		<div class="message__content">
			<span [innerHTML]="tailOutIcon | bypassHtmlSanitizer"> </span>

			<div class="message__text">
				<p>{{ msg.text }}</p>
			</div>
			<div class="message__time">
				<p>{{ msg.time }}</p>
			</div>
		</div>
	</div>
</div>

<div class="send">
	<div class="send__input">
		<input type="text" placeholder="Send a message" />
	</div>

	<div class="send__icons">
		<div class="send__icon">
			<span [innerHTML]="sendIcon | bypassHtmlSanitizer"></span>
		</div>
	</div>
</div>
