<app-whatsapp-header></app-whatsapp-header>

<div class="search">
	<div class="search__input">
		<div class="search__input__icon">
			<span [innerHTML]="searchIcon | bypassHtmlSanitizer"></span>
		</div>
		<div class="search__input__text">
			<input type="text" placeholder="Search or start new chat" />
		</div>
	</div>

	<div class="search__actions">
		<div class="search__actions__icon">
			<span [innerHTML]="filterIcon | bypassHtmlSanitizer"></span>
		</div>
	</div>
</div>

<div class="list">
	<div class="item">
		<div class="row">
			<div class="item__avatar">
				<img src="assets/images/user-1.jpg" alt="user" />
			</div>

			<div class="item__content">
				<div class="name">John Doe</div>
				<div class="message">Hello</div>
			</div>
		</div>
	</div>

	<div class="item active">
		<div class="row">
			<div class="item__avatar">
				<img src="assets/images/user-1.jpg" alt="user" />
			</div>

			<div class="item__content">
				<div class="name">John Doe</div>
				<div class="message">Hello</div>
			</div>
		</div>
	</div>
</div>
